{% extends 'base.html.twig' %}

{% block title_body %}

    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-lg-4">
                <div class="form-login shadow-lg">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Edit user</h1>
                    {{ form_start(form) }}
                    <div class="mb-0">
                        <label class="form-label">{{ form_label(form.name) }}</label>
                        {{ form_errors(form.name, {attr: {class: "alert alert-danger"}}) }}
                        {{ form_widget(form.name, {attr: {class: 'form-control', autofocus: ''}}) }}
                    </div>
                    <div class="mb-0">
                        <label class="form-label">{{ form_label(form.email) }}</label>
                        {{ form_errors(form.email, {attr: {class: "alert alert-danger"}}) }}
                        {{ form_widget(form.email, {attr: {class: 'form-control'}}) }}
                    </div>
                    <div class="mb-0">
                        <label class="form-label">{{ form_label(form.roles) }}</label>
                        {{ form_errors(form.roles, {attr: {class: "alert alert-danger"}}) }}
                        {{ form_widget(form.roles, {attr: {class: 'form-control'}}) }}
                    </div>
                    <div class="mb-0">
                        <label class="form-label">{{ form_label(form.blocked) }}</label>
                        {{ form_errors(form.blocked, {attr: {class: "alert alert-danger"}}) }}
                        {{ form_widget(form.blocked, {attr: {class: "form-control"}}) }}
                    </div>
                    <div class="d-grid gap-2">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary mt-3'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block sidebar %}{% endblock %}
{% block body %}{% endblock %}