{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block title_body %}
    <h4 class="font-weight-normal text-center">{{ title | upper }}</h4>
{% endblock %}

{% block body %}
    <div class="container left-rail-container">
        <div class="column column-6">
            <p><b>Owner: </b>{{ item.userCollection.user.name | title }}</p>
            <p><b>Category: </b>{{ item.userCollection.category.name | title }}</p>
            <p><b>Collection: </b>{{ item.userCollection.name | title }}</p>
            {% for value in values %}
                <p><b>{{ value.attribute.fieldname | title}}:</b> {{ value.value }}</p>
            {% endfor %}
            <div>
                {% for tag in tags %}
                    <a href="{{ path('tag', {'id': tag.id}) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <hr>
            <div>
                <h5>Comments</h5>
                    <ul>
                    {% for comment in addedComments %}
                        <li>
                            <p>{{ comment.item.userCollection.user.name }}</p>
                            <p>{{ comment.text }}</p>
                            <p>{{ comment.createdAt | date }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                {% if is_granted('ROLE_USER') %}
                    {{ form(form) }}
                {% else %}
                    <p>You must login or register to leave comments.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}