{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block title_body %}
    <h4 class="font-weight-normal text-center">{{ title | upper }}</h4>
{% endblock %}

{% block body %}
    <div class="container left-rail-container">
        <div class="column column-6">
            {% for value in values %}
                <p><b>{{ value.attribute.fieldname | title}}:</b> {{ value.value }}</p>
            {% endfor %}
            <div>
                {% for tag in tags %}
                    <a href="{{ path('tag', {'id': tag.id}) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}