{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block title_body %}
    <h4 class="font-weight-normal text-center">{{ title }}</h4>
{% endblock %}

{% block body %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            {%  for attribute in  attributes %}
                <th scope="col">{{ attribute.fieldname | capitalize }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <th scope="row"><a href="{{ path('item_show', {'id': item.id}) }}">{{ item.name }}</th>
                    {% for value in item.itemValues %}
                        <td>{{ value.value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}