{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block title_body %}
    <h3 class="font-weight-normal text-center">{{ title }}</h3>
{% endblock %}

{% block body %}

    <ul>
        {% for collection in collections %}
            <li>{{ collection.name }} | {{ collection.description }} |
                <a href="{{ path('user_collection_edit', {'id': collection.id}) }}">Edit</a>
                <a href="{{ path('user_collection_edit', {'id': collection.id}) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}