{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block title_body %}
    <h4 class="font-weight-normal text-center">{{ title }}
        <a href="{{ path('user_collection_create') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
        </a>
    </h4>
{% endblock %}

{% block body %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for collection in collections %}
            <div class="col">
                <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">
                            <a href="{{ path('user_collection_show', {'id': collection.id}) }}">{{ collection.name | upper }}</a>
                        </h6>
                        <p class="card-text">Category: {{ collection.category }}</p>
                        <p class="card-text">{{ collection.description }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="{{ path('user_collection_edit', {'id': collection.id}) }}" class="btn btn-secondary">Edit</a>
                        <a href="{{ path('user_collection_remove', {'id': collection.id}) }}" class="btn btn-secondary">Remove</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}