{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block title_body %}
    <h3 class="font-weight-normal text-center">{{ title }} |
        <a href="{{ path('user_item_create', {'id': collection.id}) }}">Add item</a>
    </h3>

{% endblock %}

{% block body %}

    <ul>
        {% for item in items %}
            <li>
                <a href="{{ path('user_item_show', {'id': item.id}) }}">{{ item.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}