{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block title_body %}
    <h3 class="font-weight-normal text-center">{{ title }}</h3>
{% endblock %}

{% block body %}

    <ul>
        {% for value in item.itemValues %}
        <li>
            {{ value.attribute.getFieldname }}
            {{ value.value }}
        </li>
        {% endfor %}
    </ul>

    <a href="{{ path('user_item_edit', {'id': item.id}) }}">Edit</a>
    <a href="{{ path('user_item_remove', {'id': item.id}) }}">Remove</a>

{% endblock %}